{% extends "base.html" %}
{% block content %}

<div style="text-align: right;">
    <button class="btn btn-success mt-2" type="button" data-bs-toggle="modal" data-bs-target="#recipeForm">Add recipe</button>
    <a href="#" class="btn btn-primary mt-2">My recipes</a>
</div>

<div class="container">
    <form class="d-flex mt-3" method="GET">
        <input class="form-control me-2" type="search" name="query" placeholder="Search recipes..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</div>

<div class="modal" id="recipeForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5> Create your recipe </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="container" method="POST" enctype="multipart/form-data">
                <div class="form-group mt-2">
                    <label for="recipeName">Recipe name</label>
                    <input type="text" class="form-control" id="recipeName" name="recipeName" placeholder="Enter the name of the recipe">
                </div>
                <div class="form-group mt-2">
                    <label for="recipeDesc">Recipe description</label>
                    <textarea type="text" class="form-control" id="recipeDesc" name="recipeDesc" rows="10" placeholder="Enter the instructions for the recipe"></textarea>
                </div>
                <div class="custom-file mt-3">
                    <input type="file" accept="image/*" class="custom-file-input" id="recipePhoto" name="recipePhoto">
                    <label class="custom-file-label" for="recipePhoto">Upload a photo</label>
                </div>
                <div class="my-3" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        </div>
    </div>


<div class="container mt-4">
    <div class="row">
        {% for recipe in recipes %} <!-- TODO: add pagination -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <!-- TODO: add pictures in recipes -->
                    <img class="card-img-top img-fluid object-fit-scale" src="{{ url_for('static', filename=recipe.photo_path) }}" style="width: 100%; max-height: 200px; object-fit: cover;">
                    <p class="card-text text-truncate">{{ recipe.desc }}</p>
                    <div style="text-align: center;">
                        <a href="{{ url_for('routes.recipe', recipe_id=recipe.id) }}" class="btn btn-primary"><small> View Recipe </small></a>
                    </div>
                </div>
                <div class="card-footer text-muted"><small> Created by: {{ recipe.user.username }} </small></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
